<button class="btn btn-info mr-2" type="button" (click)="add()">
    add
  </button>

<table border="1">
    <th>codice fiscale</th>
    <th>nome</th>
    <th>cognome</th>
    <th>data di nascita </th>
    <th>luogo di nascita</th>
    <th>sesso</th>
    <th>immagine</th>
    <th></th>
    <tr *ngFor="let valore of lista">
        <td>{{valore.codice_fiscale}}</td>
        <td>{{valore.nome}}</td>
        <td>{{valore.cognome}}</td>
        <td>{{valore.data_di_nascita}}</td>
        <td>{{valore.luogo_di_nascita}}</td>
        <td>{{valore.sesso}}</td>
        <td><img src="{{valore.immagine}}"></td>
        <td><button  class="btn btn-danger mr-2" (click)="remove(valore)"> elimina </button></td>
    </tr>
</table>