<div class="container-fluid">
    <form [formGroup]="formGroup" class="mb-3">
        <h1>Nuovo utente</h1>
        <br><br><br>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Codice Fiscale</label>
            <div class="col-sm-10">
              <input type="text" size="2" class="form-control" formControlName="codice_fiscale" placeholder="Inserisci il codice fiscale" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="nome" placeholder="Inserisci il nome" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Cognome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="cognome" placeholder="Inserisci il cognome" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Data di nascita</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="data_di_nascita" placeholder="Inserisci la data di nascita" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Luogo di nascita</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="luogo_di_nascita" placeholder="Inserisci il luogo di nascita" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Sesso</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="sesso" placeholder="Inserisci il sesso" maxlength="1" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Immagine</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="immagine" placeholder="Inserisci l'immagine" required>
            </div>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="send === true">
            I dati sono stati inseriti corettamente
        </div>
        <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 200px;">
            <button (click) = "conferma()" class="btn btn-info mr-2">inserisci</button>
        </div>
    </form>
</div>


